* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      background-color: #000000;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .header_principal {
    background-color: rgb(18, 18, 18) !important;
    border-bottom: solid 1px rgb(98, 98, 98);
    display: flex;

  }

  nav {
    width: 100%;
    padding: 10px;
  
  }
  
  .nav_principal li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 20px;
  
   &:hover {
      border: solid 2px;
      border-radius: 40px;
      transition: 1s;
      background-color: #000000;
      color: white;
    }
  }
  


.logo img {
    width: 60px;
    height: 60px; 
}

Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    background-image: url(../img/mistic.jpg);
    background-attachment: fixed;
    background-size: 100% 200%;
    animation: fondo 25s infinite linear alternate;
    max-height: 100vh; 
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.342);
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white; 

    p {
      font-style: italic;
      max-width: 60%;
      margin: auto;
      color: white; }

      img {
        width: 60px;
        height: 60px; }

        h4 {
          background-image: linear-gradient(to right, #2f0000, #9e0000);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        
  }
  
  .logoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  

  /**Acá estuve probando cositas para el futuro logo y titulo**/
 
  .nav_Footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px; 
  
    ul {
      display: flex;
      flex-direction: row; }
    
    li a {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      padding: 5px 10px 5px 10px;
      margin: 10px;
      border: solid 2px white;
      border-radius: 20px; 
    
      &:hover {
        border: solid 2px;
        border-radius: 40px;
        transition: 1s;
        background-color: #000000; }
    }
  }
  

  

  
  .nav_icon {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px; }
  
  .icono {
    width: 32px !important;
    height: 32px !important;
    margin: 10px; }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem; } }
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }
  
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh; }


/* ANIME DEL DIA/SEMANA */
  
  
.grid-section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "title1 title2"
    "section1 section2";
padding-top: 50px; 
padding-left: 50px;
padding-right: 50px;
  background-color: #000000;

    &.grid-section .title-d {
  grid-area: title1;
  font-size: 25px;
  color: whitesmoke;
}

&.grid-section .section-day {
  grid-area: section1;
}

&.grid-section .title-w {
  grid-area: title2;
  font-size: 25px;
  color: whitesmoke;
}

&.grid-section .section-week {
  grid-area: section2;
}
}

.section-day,
  .section-week {
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 605px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    color: white;
  }

/* Contact Styling */
  
.item-contact {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0;

  &.item-contact li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  
  &.item-contact li:hover {
    z-index: 10000;
    transform: scale(0.75);
  }
  
  &.item-contact li::before {
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
    transition: 0.5s;
  }
  
  &.item-contact li:hover::before {
    inset: 0px;
  }
  
  &.item-contact li::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
  }
  
  &.item-contact li a {
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
  }
  
  &.item-contact li:hover a {
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
  }

}



:root {
  --white: rgb(255, 255, 255);
  --black: rgb(18, 18, 18);
  --bg: rgb(18, 18, 18);
}