  @import "estructura";
  @import "indexExtra";
  @import "quienes";
  @import "series";
  @import "paginas";
  @import "responsive";
  

    /*   Extras que van en varias paginas   */
 


    .spyy {
      background-image: url("../img/spyy.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      width: 100%;
    }
    .noticias {
      color: white;
      background-color: #000;
    
    }
      
    .p-4{
      color: rgb(0, 0, 0);
      background-color: whitesmoke;

    }

  .p-4 ol li a {
    color: rgb(20, 20, 20);
    text-decoration: none;

  }
  
  
  